# scraper API
git+https://github.com/JustAnotherArchivist/snscrape.git
facebook-scraper~=0.2.37

# dataframe
pandas~=1.2.4
numpy~=1.20.3

# gui
PyQt5~=5.15.4

# text's emotions
nltk~=3.6.2
fastText~=0.9.2
# if you can not pip fasttext, please refer to this :
#https://www.programmersought.com/article/54745008876/